#!/bin/bash

SCRIPT_DIRECTORY="$(readlink -e $(dirname ${BASH_SOURCE[0]}))"
HOME_DIRECTORY="$(readlink -e ~)"

if ! [ "$HOME_DIRECTORY" = "$SCRIPT_DIRECTORY" ]; then
    exit 0
fi

if [ -f ~/.user-setup/start-scripts/.bashrc-old ]; then
    source ~/.user-setup/start-scripts/.bashrc-old
fi

find ~/.user-setup/start-scripts -not -name ".bashrc-old" -print0 | while read -d "" file; do 
    if ! [ -d "$file" ]; then
        source $file
    fi
done

source ~/.user-setup/start-scripts/aliases